<div class="container">
    <div class="card text-center">
      <div class="card-header">
        Budget Manager
      </div>
      <div class="card-body">
        <h5 class="card-title">Welcome to your budget manager</h5>
        <a class="btn btn-primary" routerLink="seguridad">Entrar</a>
      </div>
      <div class="card-footer text-muted">
      </div>
    </div>
  </div>

<button type="button" class="btn btn-primary" (click)="crateUser()">create</button>
<button type="button" class="btn btn-primary" (click)="getUser()">get</button>