body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
  }
  
  
  input, textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
  }
  