<div class="container ps-1 ms-1 pe-0 me-0">
    <div class="header pe-1 me-3">
        <BudgetApp-header></BudgetApp-header>
    </div>
    
    
    <div class="content">
        <div class="row container mt-1">
            <div class="col-3 ps-0 ms-0 me-2">
                <BudgetApp-sidebar></BudgetApp-sidebar>
            </div>
    
            <div class="col" >
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    
    <div class="footer">
        <BudgetApp-footer></BudgetApp-footer>
    </div>
</div>