<div class="container">
    <h2 class="text-center">
        Create Target Saving
    </h2>
    <form class="row g-3" id="savingForm" (ngSubmit)="create()" [formGroup]="savingForm">

        <div class="form-floating mb-1">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea1" formControlName="startDate"></textarea>
            <label for="floatingTextarea">Start Date </label>
            <span class="form-text text-danger mensajeAlert" *ngIf="savingForm.get('startDate')?.hasError('required') && savingForm.get('startDate')?.touched ">
                Start Date required
            </span>
        </div>

        <div class="form-floating mb-1">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea1" formControlName="endDate"></textarea>
            <label for="floatingTextarea">End Date </label>
            <span class="form-text text-danger mensajeAlert" *ngIf="savingForm.get('endDate')?.hasError('required') && savingForm.get('endDate')?.touched ">
                End Date required
            </span>
        </div>

    
        <div class="form-floating mb-1">
            <input type="number" class="form-control" placeholder="Leave a comment here" id="floatingTextarea" formControlName="targetAmount">
                <label for="floatingTextarea">Target Amount </label>
                <span class="form-text text-danger mensajeAlert" *ngIf="savingForm.get('targetAmount')?.hasError('required') && savingForm.get('targetAmount')?.touched ">
                    Target Amount required
                </span>
        </div>
    
    </form>

    <div class="col-12 ">
        <button class="btn btn-primary" type="submit" form="savingForm" [disabled]="savingForm.invalid">Create</button>
    </div>
</div>
