<div class="container ps-1 ms-1 pe-0 me-0">
    <div class="header pe-1 me-3">
        <button type="button" class="btn btn-outline-success" routerLink="create">Create</button>
        <button type="button" class="btn btn-outline-dark" routerLink="list">Get All</button>
        <button type="button" class="btn btn-outline-dark" routerLink="list">Get Date</button>
        <button type="button" class="btn btn-outline-dark" routerLink="list">Get Type</button>
        <button type="button" class="btn btn-outline-dark" routerLink="list">Get Category</button>
        <hr>
    </div>
    
    
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>