<table class="table table-dark table-sm">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Type</th>
        <th scope="col">Amount</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{transaction.date | formatDate}}</td>
        <td>{{transaction.type | titlecase}}</td>
        <td>{{transaction.amount}}</td>
        <td>{{transaction.description | titlecase}}</td>
      </tr>
    </tbody>
  </table>