<div class="container">
    <h2 class="text-center" *ngIf="createMode">
        Create Budget
    </h2><h2 class="text-center" *ngIf="!createMode">
        Update Budget
    </h2>
    <form class="row g-3" id="budgetForm" (ngSubmit)="create()" [formGroup]="budgetForm">

        <div class="form-floating mb-1">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea1" formControlName="name"></textarea>
            <label for="floatingTextarea">Name </label>
            <span class="form-text text-danger mensajeAlert" *ngIf="budgetForm.get('name')?.hasError('required') && budgetForm.get('name')?.touched ">
                Name required
            </span>
        </div>

        <div class="form-floating mb-1">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea1" formControlName="targetMonth"></textarea>
            <label for="floatingTextarea">Target Month </label>
            <span class="form-text text-danger mensajeAlert" *ngIf="budgetForm.get('targetMonth')?.hasError('required') && budgetForm.get('targetMonth')?.touched ">
                Target Month required
            </span>
        </div>
    
    </form>

    <div class="col-12 " *ngIf="createMode">
        <button class="btn btn-primary" type="submit" form="budgetForm" [disabled]="budgetForm.invalid">Create</button>
    </div>
    <div class="col-12 " *ngIf="!createMode">
        <button class="btn btn-primary" [disabled]="budgetForm.invalid" (click)="update()">Update</button>
    </div>
</div>
